.banner ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C6EAF2;
}

.banner li {
    float: left;
    border-right: 1px solid white;
    
}

.banner li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.banner li a img {
    max-width: 40px;
    max-height: 10px;
    zoom: 150%
}

.banner li a:hover {
    background-color: #45a049;
    
}


#login-greeting {
    text-align: center;
}



/*Carousel*/


#slideshow {
    padding-left: 470px;
    margin-left: 470px;
    position:relative;

}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    zoom: 80%
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}

body {
    background-color: #3DBCD4;
    color: white;
}

footer {
    margin-top: 2px;
    text-align: center;
}
